.burger {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 3px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

@media (max-width: 1220px) {
    .burger {
        display: none;
    }
}