.calendarContainer {
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    width: 333px;
    height: 324px;
    transform: translateX(-120%);
    transition: all .35s ease;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    -webkit-transform: translateX(-120%);
    -moz-transform: translateX(-120%);
    -ms-transform: translateX(-120%);
    -o-transform: translateX(-120%);
}

.calendarContainer.visible {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}

.calendarHeader {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    margin-bottom: 10px;
}

.headerInfo {
    display: flex;
    gap: 10px;
}

.headerInfo>span {
    font-size: 1.25em;
    color: var(--main-text);
}

.headerActions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.headerActions>button {
    padding: 7px;
    border: none;
    background-color: inherit;
    color: var(--main-text);
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendarBody {
    background-color: var(--main-hard-blue);
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.calendarWeekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 10px;
}

.calendarWeekdays>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.15em;
    color: var(--main-text);
}

.calendarDays {
    flex: 1;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-content: center;
}

.calendarDays button {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendarDays button:focus {
    outline-color: white;
}

.calendarDays button span {
    height: 28px;
    width: 34px;
    color: var(--main-text);
    background-color: var(--current-month-days);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    cursor: pointer;
    font-size: 1.1em;
}

.calendarDays div span:hover {
    background-color: rgb(211, 211, 211);
}

.calendarDays div span.today {
    background-color: rgba(172, 207, 255, 1);
    font-weight: 600;
}

.calendarDays div span:hover {
    background-color: rgba(172, 207, 255, .5);
    color: var(--main-white);
}

.calendarDays .nextMonthDay span {
    background-color: var(--next-prev-days-calendar);
}

.calendarDays .prevMonthDay span {
    background-color: var(--next-prev-days-calendar);
}

@media(max-width: 992px) {
    .calendarContainer {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

@media(max-width: 768px) {
    .calendarContainer {
        display: none;
    }
}