.taskItem {
    position: relative;
    background-color: var(--main-light-blue);
    padding: 12px;
    margin-bottom: 14px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    align-items: center;
}

.taskDate {
    width: 150px;
    padding: 6px 5px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.taskDay {
    color: var(--main-text);
    font-weight: 500;
    font-size: 1.6em;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskMonth {
    color: var(--main-text);
    flex: 1;
    font-weight: 500;
    font-size: 1em;
    text-transform: uppercase;
}

.taskYear {
    position: absolute;
    top: -10px;
    color: var(--main-text);
    background-color: rgba(255, 136, 250, .45);
    padding: 4px 6px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.taskBody {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media(max-width: 768px) {
    .taskItem {
        padding: 12px 6px;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
    }

    .taskDate {
        width: 130px;
    }

    .taskDay {
        font-size: 1.5em;
    }

    .taskMonth {
        font-size: .9em;
    }
}


@media(max-width: 576px) {
    .taskItem {
        padding: 12px 6px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
}

    .taskDate {
        width: 110px;
        padding: 2px;
        display: flex;
        align-items: center;
        gap: 2px;
        font-size: .8em;
    }

    .taskDay {
        font-weight: 500;
        font-size: 1.6em;
        width: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .taskMonth {
        flex: 1;
        font-weight: 500;
        font-size: 1.1em;
        text-transform: uppercase;
    }

    .taskYear {
        position: absolute;
        top: -10px;
        background-color: rgba(255, 136, 250, .45);
        padding: 4px 6px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .taskBody {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
}



@media(max-width: 425px) {
    .taskItem {
        flex-direction: column;
        gap: 15px;
    }

    .taskDate {
        width: 100%;
        padding: 5px;
        font-size: .9em;
    }

    .taskDay {
        font-weight: 500;
        font-size: 1.5em;
    }

    .taskYear {
        position: absolute;
        top: -10px;
        background-color: rgba(255, 136, 250, .45);
        padding: 4px 6px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .taskBody {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
}