.userTitle {
    text-align: center;
    font-weight: 400;
    font-size: 1.7em;
    margin-bottom: 20px;
}

.userParagraph {
    font-weight: 300;
    font-size: 1.2em;
    text-align: start;
    margin-bottom: 40px;
    color: var(--main-text);
    text-align: center;
}

.userSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
}

.userData {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 30px;
    padding: 20px 0 20px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 100%;
}

.avatarContainer img {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}


.userInfo {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.userInfo p {
    display: flex;
    gap: 10px;
    font-size: 1.2em;
    position: relative;
}

@media(max-width: 768px) {
    .userData {
        flex-direction: column;
    }
}

@media(max-width: 576px) {
    .userInfo {
        max-width: 90%;
    }

    .userInfo p {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 1.1em;
        position: relative;
    }
}