.timeInterval {
    text-align: center;
    font-weight: 400;
    font-size: 1.7em;
    margin-right: 20px;
    min-width: 280px;
}

.arrows {
    display: flex;
    gap: 20px;
    padding: 10px 0;
    align-items: center;
    margin-right: 10px;
}

.arrows>button {
    margin-top: 3px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@media(max-width: 768px) {
    .timeInterval {
        text-align: center;
        font-weight: 400;
        font-size: 1.3em;
        margin-right: 20px;
        min-width: 280px;
        flex: 1;
        
    }

    .arrows {
        position: absolute;
        display: flex;
        gap: 20px;
        margin: 0;
        padding: 10px 0;
        align-items: center;
        right: 5px;
    }

    .arrows>button {
        margin-top: 3px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}

@media(max-width: 576px) {
    .timeInterval {
        min-width: 200px;
        font-size: 1.2em;
    }

    .arrows {
        margin-right: 5px;
        gap: 30px;
    }

    .arrows>button {
        transform: scale(.9);
        -webkit-transform: scale(.9);
        -moz-transform: scale(.9);
        -ms-transform: scale(.9);
        -o-transform: scale(.9);
    }
}

@media(max-width: 425px) {
    .timeInterval {
        min-width: 140px;
        font-size: 1.25em;
    }

    .arrows {
        margin-right: 5px;
        gap: 20px;
    }

    .arrows>button {
        transform: scale(.9);
        -webkit-transform: scale(.9);
        -moz-transform: scale(.9);
        -ms-transform: scale(.9);
        -o-transform: scale(.9);
    }
}