.editForm {
    background-color: var(--main-hard-blue);
    backdrop-filter: blur(10px);
    display: flex;
    flex: 1;
    width: 400px;
    min-height: 367px;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.editForm .taskDetailsTitle {
    font-size: 1.2em;
    font-weight: 400;
}

@media(max-width: 576px) {
    .editForm .dateContainer input {
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
}


@media(max-width: 475px) {
    .editForm {
        width: 350px;
        gap: 5px;

    }
}

@media(max-width: 375px) {
    .editForm {
        width: 300px;
    }
}