.settingsTitle {
    text-align: center;
    font-weight: 400;
    font-size: 1.7em;
    margin-bottom: 20px;
}

.settingsParagraph {
    font-weight: 300;
    font-size: 1.2em;
    text-align: start;
    margin-bottom: 40px;
    color: var(--main-text);
    text-align: center;
}

.settingsSection {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    background-color: var(--main-light-blue);
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.settingsSectionImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.settingsSectionContent h3 {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--main-text);
}

.settingsSectionContent p {
    font-size: 1.1em;
    color: var(--main-text);
}

.settingsButton {
    margin-top: 20px;
    background-color: var(--main-white);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: var(--main-text);
    font-size: 1.05em;
    cursor: pointer;
    transition: background 0.3s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.settingsButton:hover {
    background: var(--main-pink);
}

.active {
    background: #ffffff;
    color: var(--main-text);
}

@media(max-width: 768px) {
    .settingsSection {
        padding: 10px;
    }
}