.settingsSelect {
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: var(--main-text);
    background-color: var(--main-white);
    font-size: 1em;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
}

.settingsSelect {

}