.header {
    width: 100%;
    height: 88px;
    padding: 12px 0;
    display: flex;
    gap: 40px;
}

.headerLogo {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 92px;
}

.headerLogo>a {
    text-decoration: none;
    color: inherit;
}

.headerTitle {
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
}

.headerSearch {
    flex: 1;
    width: 791px;
    height: 64px;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
    background-color: var(--main-white);
    border: none;
    padding: 21px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.headerSearch input {
    background-color: transparent;
    color: var(--main-text);
    border: none;
    width: 100%;
    font-size: 1.4em;
}

.headerSearch input::placeholder {
    color: var(--main-text);
    font-size: 1em;
}

.headerSearch button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.headerSearch button>img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.headerSearch input:focus {
    outline: transparent;
}

.headerMenu {
    display: flex;
    align-items: center;
    gap: 12px;
}

@media(max-width: 992px) {
    .headerLogo {
        padding-right: 40px;
    }

    .headerTitle {
        display: none;
    }
}


@media(max-width: 768px) {
    .headerLogo {
        padding-right: 20px;
        gap: 5px;
    }

    .headerMenu {
        gap: 5px;
    }

    .headerSearch input {
        font-size: 1.2em;
    }
}

@media(max-width: 576px) {
    .header {
        gap: 20px;
    }

    .headerLogo {
        padding-right: 0px;
    }

    .headerMenu {
        gap: 5px;
    }

    .headerSearch {
        padding: 5px 15px;
        gap: 10px;
    }

    .headerSearch input {
        font-size: 1.1em;
    }

    .headerSearch input::placeholder {
        color: var(--main-text);
        font-size: 1em;
    }
}

@media(max-width:425px) {
    .headerSearch {
        padding: 5px 15px;
        gap: 14px;
    }

    .headerSearch input::placeholder {
        color: var(--main-text);
        font-size: 1em;
    }
}