.sidebar {
    min-width: 200px;
    padding: 12px 5px;
    height: 100%;
    width: 200px;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -ms-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
}

.sidebar.expanded {
    width: 365px;
    opacity: 1;
}

@media(max-width: 992px) {
    .sidebar {
        padding-top: 20px 0 0 0;
        height: 380px;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 20px;
    }

    .sidebar.expanded {
        width: 100%;
        height: 400px;
        opacity: 1;
    }
}

@media(max-width: 768px) {
    .sidebar {
        padding: 0;
        height: 120px;
        width: 100%;
        display: block;
        margin-bottom: 40px;
    }
}

@media(max-width: 576px) {
    .sidebar {
        padding: 0;
        height: 100px;
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}
