.mainHeader {
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerBtnsContainer {
    display: flex;
}

@media(max-width: 768px) {
    .mainHeader {
        padding-top: 35px;
        position: relative;
    }
}
