    .formDate {
        padding-left: 10px;
        margin-bottom: 10px;
        font-size: 1.25em;
        font-weight: 400;
        color: var(--main-text);
    }

    .createForm {
        background-color: var(--main-hard-blue);
        display: flex;
        flex: 1;
        width: 330px;
        min-height: 367px;
        flex-direction: column;
        gap: 10px;
        padding: 12px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    .createForm.lg {
        background-color: var(--main-hard-blue);
        backdrop-filter: blur(10px);
        display: flex;
        flex: 1;
        width: 400px;
        min-height: 367px;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .taskDetailsTitle {
        font-size: 1.2em;
        font-weight: 400;
    }

    .dateContainer {
        display: flex;
        align-items: center;
        gap: 18px;
    }

    .dateContainer label {
        font-size: 1.1em;
    }

    .dateContainer input {
        background-color: var(--main-white);
        border: none;
        font-size: 1.1em;
        flex: 1;
        padding: 8px 13px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        cursor: pointer;
    }

    .dateContainer input:focus {
        outline: transparent;
    }

    .timeContainer {
        display: flex;
        justify-content: center;
        gap: 5px;
    }

    .timeContainer.disabled {
        opacity: .4;
    }

    .timeContainer .timeItem {
        display: flex;
        gap: 5px;
        align-items: center;
        width: 100%;
    }

    .timeContainer .timeItem label {
        font-size: 1.1em;

    }

    .timeContainer .timeItem input {
        color: var(--main-text);
        background-color: var(--main-white);
        border: none;
        font-size: 1.1em;
        padding: 8px 13px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        cursor: pointer;
        flex: 1;
    }

    .timeContainer .timeItem input:focus {
        outline: transparent;
    }


    .wholeDay {
        padding-top: 10px;
        display: flex;
        gap: 13px;
        align-items: center;
    }

    .wholeDay label {
        font-size: 1.1em;
    }

    .wholeDay input {
        width: 20px;
        height: 20px;
        border: none;
        background-color: var(--main-white);
        cursor: pointer;
    }

    .wholeDay input:focus {
        outline: invert;
    }

    .infoContainer {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .taskContainer {
        width: 100%;
        position: relative;
        margin-bottom: 50px;
    }

    .taskContainer label {
        position: absolute;
        font-size: 1.1em;
        top: -30px;
    }

    .taskContainer input {
        color: var(--main-text);
        background-color: var(--main-white);
        font-size: 1.1em;
        width: 100%;
        padding: 8px 13px;
        border: none;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .taskContainer input:focus {
        outline: transparent;
    }

    .addInfoContainer {
        width: 100%;
        position: relative;
    }

    .addInfoContainer label {
        position: absolute;
        font-size: 1.1em;
        top: -30px;

    }

    .addInfoContainer textarea {
        color: var(--main-text);
        background-color: var(--main-white);
        font-size: 1.1em;
        min-width: 100%;
        max-width: 100%;
        min-height: 100px;
        max-height: 100px;
        padding: 8px 13px;
        border: none;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .addInfoContainer textarea:focus {
        outline: transparent;
    }

    .submitBtn {
        background-color: var(--main-white);
        border: none;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        padding: 8px 13px;
        font-size: 1.1em;
        font-weight: 300;
        cursor: pointer;
    }

    @media(max-width: 1020px) {
        .timeContainer .timeItem {
            display: flex;
            gap: 15px;
            align-items: center;
            width: 100%;
        }
    }




    @media(max-width: 576px) {
        .createForm.lg .dateContainer input {
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }

        .timeContainer .timeItem input {
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }

        .taskContainer input {
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }

        .addInfoContainer textarea {
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }

        .submitBtn {
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }

        .timeItem {
            display: flex;
            align-items: center;
            width: 100%;
        }

        .timeItem label {
            min-width: 25px;
        }

        .timeItem input {
            flex: 1;
        }
    }


    @media(max-width: 475px) {
        .createForm.lg {
            width: 350px;
            gap: 5px;
        }

        .createForm.lg .dateContainer {
            display: flex;
            align-items: center;
            gap: 32px;
        }

        .timeContainer {
            margin-top: 5px;
            flex-direction: column;
            gap: 10px;
        }

        .timeItem {
            width: 100%;
        }

        .timeItem label {
            width: 60px;
        }

        .timeItem input {
            flex: 1;
        }

    }

    @media(max-width: 375px) {
        .createForm.lg {
            width: 300px;
        }

        .createForm.lg .dateContainer {
            display: flex;
            align-items: center;
            gap: 25px;
        }

        .dateContainer label {
            font-size: 1.1em;
            margin-right: 8px;
        }

        .dateContainer input {
            background-color: var(--main-white);
            border: none;
            font-size: 1.1em;
            padding: 8px 13px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            cursor: pointer;
        }

    }