.startingSign {
    width: 200px;
    display: block;
    position: absolute;
    top: 220px;
    left: 455px;
    z-index: -1;
}

.startingSign.hidden {
    display: none;
}

.createFormStarter {
    font-size: 1.2em;
    font-weight: 300;
    display: block;
}
