.todayBtn {
    font-size: 1.2em;
    border-radius: 80px;
    border-color: rgba(0, 0, 0, .2);
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
    padding: 9px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: inherit;
    margin-right: 20px;
    cursor: pointer;
}

.todayBtn:hover {
    background-color: rgba(0, 0, 0, .03);
}