.todayBtn {
    font-size: 1.23em;
    border: none;
    background-color: var(--main-hard-blue);
    border-radius: 15px;
    color: var(--main-text);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 9px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-right: 20px;
    cursor: pointer;
}

.todayBtn:hover {
    background-color: var(--main-pink);
}

@media(max-width: 768px) {
    .todayBtn {
        position: absolute;
        top: -45px;
        font-size: 1em;
        background-color: rgba(172, 207, 255, 0.9);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}

}


@media(max-width: 576px) {
    .todayBtn {
        font-size: .95em;
    }
}

@media(max-width: 425px) {
    .todayBtn {
        font-size: 1em;
    }
}