.createFormContainer {
    position: absolute;
    top: 115px;
    left: 380px;
    width: 333px;
    height: 324px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: none;
    transition: transform .3s ease;
    -webkit-transition: transform .3s ease;
    -moz-transition: transform .3s ease;
    -ms-transition: transform .3s ease;
    -o-transition: transform .3s ease;
}

.createFormContainer.visible {
    display: block;
}

.formContainer {
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 335px;
    min-height: 324px;
}

@media(max-width: 1600px) {
    .createFormContainer {
        transform: translateX(-112.5%) translateY(110%);
        -webkit-transform: translateX(-112.5%) translateY(110%);
        -moz-transform: translateX(-112.5%) translateY(110%);
        -ms-transform: translateX(-112.5%) translateY(110%);
        -o-transform: translateX(-112.5%) translateY(110%);
    }
}
