.helpTitle {
    text-align: center;
    font-weight: 400;
    font-size: 1.7em;
    margin-bottom: 20px;
}

.helpParagraph {
    font-weight: 300;
    font-size: 1.2em;
}

.helpList {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 20px;
}


.helpListItem {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--main-light-blue);
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    transition: background 0.3s, height 0.3s, padding 0.3s;
    overflow: hidden;
}

.helpListItem:hover {
    background-color: var(--main-pink);
}

.helpListItem h3 {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--main-text);
    margin: 0;
}

.helpListItem p {
    font-size: 1.1em;
    font-weight: 300;
}

@media(max-width: 768px) {
    .helpList {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        gap: 20px;
    }
}