.settingsButton {
    margin-top: 20px;
    background-color: var(--main-white);
    border: none;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: var(--main-text);
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.settingsButton:hover {
    background: var(--main-text);
    color: var(--main-white);
}
